<?xml version="1.0"?>
<launch>
    
    <!-- Posix SITL environment launch script -->
    <!-- launches PX4 SITL -->

    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
    <env name="PX4_ESTIMATOR" value="$(arg est)" />

    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>
    <arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
    <arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>
    
    <!-- PX4 SITL -->
    <node 
        name="sitl" 
        pkg="px4" 
        type="px4" 
        output="screen"
        required="true"
        launch-prefix="bash -c 'rsync -au $(find px4)/ROMFS/px4fmu_common $(find px4_sitl);$0 $@'"
        args="$(find px4_sitl)/px4fmu_common -s etc/init.d-posix/rcS $(arg px4_command_arg1)"
    />

</launch>
