<?xml version="1.0"?>
<model>
  <name>3DR Iris with ground truth plugin</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_gt.sdf</sdf>

  <author>
   <name>Nikhil P</name>
   <email>nikhilprakash99@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with the ground truth plugin. The original model has been created by
    nikhil with reference from the internet and is maintained by no one.
  </description>
</model>
